@import "../variables";

.connectFourRoom{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	.connectFourMain{
		flex-grow: 1;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow-y: auto;

		.gameName{
			background-color: $primary-color;
			color: $bg-color;
			font-size: 50px;
			border-radius: 0px 0px 30px 30px;
			width: 50%;
			position: absolute;
			top: 0;
		}

		.playerName{
			font-size: 30px;
			margin: 20px;
		}

		.connectFourBoard{
			width: 60%;
			padding-top: 51.5%;
			position: relative;
			opacity: 0.85;
			min-height: 600px;
			min-width: 700px;

			.square{
				border: 1px solid $primary-color;
				top: 0;
				left: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				.row{
					margin-left: 0.01%;
					width: 100%;
					height: 16.6666%;
					.cell{
						width: 14.2857%;
						height: 100%;
						float: left;
						border: 1px solid $primary-color;
						background-color: $bg-color;
					}
				}
			}
		}
	}
	.controls{
		height: 80%;
		border: 3px solid $primary-color;
		background-color: $bg-color;
		color: $primary-color;
		margin: 10px;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 220px;
		padding-bottom: 10px;
		background-color: $passive-color;
		.gameInfo{
			background-color: $primary-color;
			color: $bg-color;
			border-radius: 10px 10px 0 0;
			padding: 10px;
			text-align: left;
			font-size: 16px;

			div{
				:first-child {
					font-weight: bold;
					font-style: italic;
				};
			}
		}
	}
}
