@import "../variables";

.connectFourRoom{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: rgba(255, 255, 255, 0.5);
	
	.connectFourMain{
		flex-grow: 1;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow-y: auto;
		padding-top: 45px;

		.preview{
			position :absolute;
			display: none;
			transition: $transition-very-fast;
		}

		.dropPreview{
			position :absolute;
			display: none;
		}

		.gameName{
			background-color: $primary-color;
			color: $bg-color;
			font-size: 30px;
			border-radius: 0px 0px 30px 30px;
			width: 50%;
			position: absolute;
			top: 0;
		}

		.playerName{
			font-size: 30px;
			margin: 20px;
			transition: $transition-very-fast;
			min-height: 60px;
		}

		.currentTurn{
			font-size: 40px;
			font-weight: bold;
		}

		.currentTurn::before{
			content: ">> ";
		}

		.currentTurn::after{
			content: " <<";
		}

		.connectFourBoard{
			position: relative;
			opacity: 0.85;
			width: 50vmax;
			height: 42.85vmax;
		
			.square{
				border: 1px solid $primary-color;
				top: 0;
				left: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				.row{
					margin-left: 0.01%;
					width: 100%;
					height: 16.6666%;
					.cell{
						width: 14.2857%;
						height: 100%;
						float: left;
						border: 1px solid $primary-color;
						background-color: $bg-color;
						background-position: center;
						background-size: cover;
						background-repeat: no-repeat;
					}
				}
			}
		}
	}
	.controls{
		border: 3px solid $primary-color;
		background-color: $bg-color;
		color: $primary-color;
		margin: 10px;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width: 210px;
		max-width: 210px;
		padding-bottom: 10px;
		background-color: $passive-color;
		height: auto;
		.hostControls{
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.gameInfo{
			background-color: $primary-color;
			color: $bg-color;
			border-radius: 10px 10px 0 0;
			padding: 10px;
			text-align: left;
			font-size: 16px;

			div{
				:first-child {
					font-weight: bold;
					font-style: italic;
				};
			}
		}
	}
}
