.pictionaryRoom{
  width: 100%;
  min-width: 1050px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  label{
    margin-top: 15px;
    margin-bottom: 0;
    text-decoration: underline;
    width: 100%;
    text-shadow: 0 0 6px $bg-color;
  }

  .gameUItop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .players{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 600px;
      margin-right: 20px;
      width: 200px;
      min-width: 200px;

      .scoreboard{
        display: flex;
        flex-direction: column;
        opacity: 0.9;
        width: 100%;

        .playerList{
          border: 2px solid $primary-color;
          border-radius: 10px;

          .player{
            height: 42px;
            display: flex;
            align-items: center;
            width: 100%;
            background-color: $bg-color;
            position: relative;

            .playerName{
              flex-grow: 1;
              max-width: 145px;
              word-wrap: break-word;
            }

            .playerScore{
              width: 50px;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $secondary-color;
              border-left: 1px solid $primary-color;
              font-size: 25px;
            }
          }

          .player:first-child{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            .playerScore{
              border-top-right-radius: 10px;
            }
          }

          .player:last-child{
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            .playerScore{
              border-bottom-right-radius: 10px;
            }
          }

          .player:not(:last-child){
            border-bottom: 1px solid $primary-color;
          }

          .player.active::before{
            position: absolute;
            width: 0;
            height: 0;
            left: -45px;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 35px solid $tertiary-color;
            z-index: 2;
            content: " ";
            -webkit-filter: drop-shadow(0 0 5px $tertiary-color);
            -moz-filter: drop-shadow(0 0 5px $tertiary-color);
            -ms-filter: drop-shadow(0 0 5px $tertiary-color);
            -o-filter: drop-shadow(0 0 5px $tertiary-color);
            filter: drop-shadow(0 0 5px $tertiary-color);
          }
        }
      }

      .guess{
        flex-grow: 1;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;

        .guessContainer{
          flex-grow: 1;
          background-color: $passive-color;
          min-height: 200px;
          display: flex;
          flex-direction: column;
          border: 2px solid $primary-color;
          border-radius: 10px 10px 5px 5px;

          .guessList{
            flex-grow: 1;
            overflow-y: auto;
          }

          .guessInput{
            font-size: 18px;
            margin: 3px;
            padding-left: 3px;
            height: 35px;
            padding-top: 4px;
            color: black;
          }
        }

      }
    }

    .drawboard{
      width: 806px;
      min-width: 806px;
      height: 606px;
      position: relative;
      border: 3px solid $primary-color;

      canvas{
        position: absolute;
        top: 0;
        left: 0;
        cursor: none;
      }

      #pictionaryCanvas{
        background-color: white;
        opacity: 0.9;
      }
    }

    .tools{
      width: 100px;
      margin-right: 100px; /*Offset the scoreboard*/
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: auto;

      button{
        border-radius: 4px;
        margin: 3px;
        padding: 0;
        width: 50px;
        height: 50px;
        background-color: $bg-color;
        border-color: $primary-color;
        color: $primary-color;

        .glyphicons{
          font-size: 30px;
        }

        &:hover, &.active{
          background-color: $primary-color;
          color: $bg-color;
        }
      }

      input[type=color]{
        width: 40px;
        height: 40px;
      }

      input[type=range]{
        transform: rotate(-90deg);
        transform-origin: 75px;
        margin-top: 80px;
        -webkit-filter: drop-shadow(0 0 4px $primary-color);
        -moz-filter: drop-shadow(0 0 4px $primary-color);
        -ms-filter: drop-shadow(0 0 4px $primary-color);
        -o-filter: drop-shadow(0 0 4px $primary-color);
        filter: drop-shadow(0 0 4px $primary-color);
      }
    }
  }

  .gameUIbottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .guess{

    }

    .gameInfo{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .word{

      }

      .timer{

      }
    }
  }

  .controls{
    button{
      margin: 10px;
    }
  }
}
