/*
primary-color: text color
secondary-color: differing shade of primary (gradient in welcome)
tertiary-color: contrasts well against primary
bg-color: background color
passive-color: background for chat; close to bg-color
inset-color: border color for chat, etc
*/
/*
$bg-color: #222222;
$primary-color: white;
$secondary-color: #282828;
$passive-color: #282828;
*/
@font-face { font-family: "adobe clean"; src: url("../fonts/AdobeClean-Regular.otf") format("opentype"); }

@font-face { font-family: "Helvetica Neue"; src: url("../fonts/HelveticaNeue.ttf") format("truetype"); }

html, body, .root { width: 100%; height: 100%; font-family: "adobe clean"; margin: 0; padding: 0; overflow: hidden; background-color: #ffffff; }

.fullWidth { width: 100%; }

.fullHeight { height: 100%; }

/*
primary-color: text color
secondary-color: differing shade of primary (gradient in welcome)
tertiary-color: contrasts well against primary
bg-color: background color
passive-color: background for chat; close to bg-color
inset-color: border color for chat, etc
*/
/*
$bg-color: #222222;
$primary-color: white;
$secondary-color: #282828;
$passive-color: #282828;
*/
.welcome { width: 100%; height: 100%; display: flex; justify-content: space-around; align-items: center; flex-direction: column; font-size: 20px; text-align: center; color: #003366; background-color: #ffffff; }

.welcome .logo, .welcome .content { width: 100%; display: flex; justify-content: center; align-items: center; }

.welcome .logo { position: absolute; top: 0; font-size: 90px; color: #003366; -webkit-text-stroke: 1px #bce8f1; height: 25%; -webkit-transition: 1.5s; transition: 1.5s; background: -webkit-linear-gradient(top, transparent, #bce8f1); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(top, transparent, #bce8f1); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(top, transparent, #bce8f1); /* For Firefox 3.6 to 15 */ background: linear-gradient(to top, transparent, #bce8f1); /* Standard syntax (must be last) */ }

.welcome .content { height: 100%; transition: 1.5s; }

.welcome .content .loading { background: url(../images/ripple.svg) no-repeat center center; line-height: 200px; min-width: 200px; min-height: 200px; }

/*
primary-color: text color
secondary-color: differing shade of primary (gradient in welcome)
tertiary-color: contrasts well against primary
bg-color: background color
passive-color: background for chat; close to bg-color
inset-color: border color for chat, etc
*/
/*
$bg-color: #222222;
$primary-color: white;
$secondary-color: #282828;
$passive-color: #282828;
*/
.namePicker { font-size: 70px; position: absolute; -webkit-transition: 1.5s; transition: 1.5s; }

.namePicker .nameInput { border: 0px solid #003366; border-bottom-width: 2px; color: #003366; font-family: inherit; font-size: 45px; background: transparent; text-align: center; text-decoration: none; outline: none; }

.namePicker .alert { font-size: 20px; margin: 0; opacity: 0; -webkit-transition: 1s; transition: 1s; }

/*
primary-color: text color
secondary-color: differing shade of primary (gradient in welcome)
tertiary-color: contrasts well against primary
bg-color: background color
passive-color: background for chat; close to bg-color
inset-color: border color for chat, etc
*/
/*
$bg-color: #222222;
$primary-color: white;
$secondary-color: #282828;
$passive-color: #282828;
*/
.gameRoomsView { width: 100%; height: 100%; display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: center; transition: 1s; }

/*
primary-color: text color
secondary-color: differing shade of primary (gradient in welcome)
tertiary-color: contrasts well against primary
bg-color: background color
passive-color: background for chat; close to bg-color
inset-color: border color for chat, etc
*/
/*
$bg-color: #222222;
$primary-color: white;
$secondary-color: #282828;
$passive-color: #282828;
*/
.mainView { width: 100%; height: 100%; max-width: 1300px; min-width: 600px; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-around; }

.mainView .topView { font-size: 50px; }

.mainView .bottomView .btn-big { vertical-align: top; background-color: #efeef1; background-image: linear-gradient(167deg, rgba(255, 255, 255, 0.1) 50%, transparent 55%), linear-gradient(to bottom, rgba(255, 255, 255, 0.15), transparent); border-radius: 6px; box-shadow: 0 0 0 1px #003366 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #003366, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5); color: #003366; display: inline-block; font-family: "adobe clean"; font-size: 22px; height: 61px; line-height: 61px; margin: 30px 0 10px; position: relative; text-align: center; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); text-decoration: none !important; top: 0; width: 186px; -moz-transition: 0.15s; -o-transition: 0.15s; -webkit-transition: 0.15s; transition: 0.15s; }

.mainView .bottomView .btn-big:hover, .mainView .bottomView .btn-big:focus { background-color: #ffffff; box-shadow: 0 0 0 1px #003366 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #003366, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6); top: -2px; }

.mainView .bottomView .btn-big:active { box-shadow: 0 0 0 1px #bce8f1 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4); moz-transform: translateY(10px); -ms-transform: translateY(10px); -webkit-transform: translateY(10px); transform: translateY(10px); }

.mainView .bottomView a.disabled, .mainView .bottomView a.disabled:hover, .mainView .bottomView a.disabled:focus, .mainView .bottomView a.disabled:active { background-color: #404040; box-shadow: 0 0 0 1px #404040 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #313131, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5); }

.mainView .bottomView a.disabled:active { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); }

/*
primary-color: text color
secondary-color: differing shade of primary (gradient in welcome)
tertiary-color: contrasts well against primary
bg-color: background color
passive-color: background for chat; close to bg-color
inset-color: border color for chat, etc
*/
/*
$bg-color: #222222;
$primary-color: white;
$secondary-color: #282828;
$passive-color: #282828;
*/
.gameRooms { width: 100%; height: 80%; }

.gameRooms .gameRoomsTable { height: 100%; width: 100%; margin-left: auto; margin-right: auto; background: repeating-linear-gradient(135deg, #ffffff, #ffffff 50px, #efeef1 50px, #efeef1 100px); border-bottom: 2px solid #003366; border-top: 2px solid #003366; border-collapse: separate; }

.gameRooms .gameRoomsTable thead tr { height: 45px; }

.gameRooms .gameRoomsTable thead th { color: #003366; background-color: #ffffff; text-align: center; border-bottom: 2px solid #003366; }

/*
primary-color: text color
secondary-color: differing shade of primary (gradient in welcome)
tertiary-color: contrasts well against primary
bg-color: background color
passive-color: background for chat; close to bg-color
inset-color: border color for chat, etc
*/
/*
$bg-color: #222222;
$primary-color: white;
$secondary-color: #282828;
$passive-color: #282828;
*/
.chatView { height: 100%; background-color: #efeef1; }

.chatView .chatViewContainer { width: 100%; height: 100%; position: relative; }

.chatView .chatViewContainer .chatMain { display: flex; flex-wrap: nowrap; justify-content: space-between; flex-direction: column; height: 100%; width: auto; }

.chatView .chatViewContainer .chatMain.closed { position: relative; width: 0; overflow: hidden; }

.chatView .chatViewContainer .chatMain.open { width: 340px; min-width: 340px; }

.chatView .chatViewContainer .chatHeader { height: 50px; min-height: 50px; width: 100%; box-shadow: inset 0 -1px 0 0 #dad8de; font-family: "Helvetica"; font-size: 15px; padding-top: 10px; padding-bottom: 10px; }

.chatView .chatViewContainer .collapseChat { position: absolute; left: -25px; top: 0; height: 30px; line-height: 38px; width: 25px; background-color: #003366; color: #efeef1; border-radius: 5px 0px 0px 5px; cursor: pointer; }

.chatView .chatViewContainer .collapseChat:hover { background-color: #bb171a; }

.chatView .chatViewContainer .messageList { height: 100%; overflow-x: hidden; overflow-y: auto; }

.chatView .chatViewContainer .inputMessage { align-self: flex-end; width: 100%; }

.chatView .chatViewContainer .inputMessage textarea { resize: none; font-size: 14px; width: 90%; padding: 10px; font-family: "Helvetica"; }

.chatView .chatViewContainer ::-webkit-scrollbar { width: 6px; }

.chatView .chatViewContainer ::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); -webkit-border-radius: 10px; border-radius: 10px; }

.chatView .chatViewContainer ::-webkit-scrollbar-thumb { -webkit-border-radius: 20px; border-radius: 20px; background: rgba(0, 0, 0, 0.5); }

.chatView .chatViewContainer ul { list-style-type: none; margin: 0; padding: 10px; }

.chatView .chatViewContainer li { text-align: left; word-wrap: break-word; width: 100%; color: #433f4a; margin-top: 5px; font-family: "Helvetica"; }

.chatView .chatViewContainer li .chatTime { color: gray; font-size: 12px; }

.chatView .chatViewContainer li .chatName { font-size: 15px; font-weight: bold; }

.chatView .chatViewContainer li .chatName::after { content: ":"; }

.chatView .chatViewContainer li .chatMessage { font-size: 14px; word-wrap: break-word; }

/*
primary-color: text color
secondary-color: differing shade of primary (gradient in welcome)
tertiary-color: contrasts well against primary
bg-color: background color
passive-color: background for chat; close to bg-color
inset-color: border color for chat, etc
*/
/*
$bg-color: #222222;
$primary-color: white;
$secondary-color: #282828;
$passive-color: #282828;
*/
.sideBar { background-color: #003366; color: #ffffff; height: 100%; position: relative; }

.sideBar .collapseSideBar { position: absolute; right: -25px; top: 0; height: 30px; line-height: 38px; width: 25px; background-color: #003366; color: #efeef1; border-radius: 0px 5px 5px 0px; cursor: pointer; }

.sideBar .collapseSideBar:hover { background-color: #bb171a; }

.sideBar .sideBarItems { display: flex; flex-wrap: nowrap; justify-content: flex-start; flex-direction: column; height: 100%; width: auto; }

.sideBar .sideBarItems .sideBarItem { padding-top: 10px; }

.sideBar .sideBarItems .last { order: 999; position: absolute; bottom: 0; width: 100%; font-size: 16px; background-color: #FFCC66; color: #003366; }

.sideBar .sideBarItems.closed { position: relative; width: 0; overflow: hidden; }

.sideBar .sideBarItems.open { width: 200px; min-width: 200px; }
