<div class="modal-dialog modal-sm passwordModal">
	<div class="modal-content">
		<div class="modal-body">
			<div class="input-group roomPassword">
			  	<span class="input-group-addon">
			  		<span class="glyphicon glyphicon-lock"></span>
			  	</span>
			 	<input type="password" class="form-control" placeholder="Password" maxlength="25">
 			</div>

			<button type="button" class="btn btn-danger" data-dismiss="modal">
			  	<span class="glyphicon glyphicon-remove"></span>
				Close
			</button>
			<button type="button" class="btn btn-primary joinBtn">
			  	<span class="glyphicon glyphicon-ok"></span>
				Join
			</button>
		</div>
	</div>
</div>