<label>Tools</label>
<button class="brush" title="Brush Tool">
  <span class="glyphicons glyphicons-brush"></span>
</button>
<button class="fill" title="Fill Tool">
  <span class="glyphicons glyphicons-bucket"></span>
</button>
<button class="eraser" title="Eraser Tool">
  <span class="glyphicons glyphicons-erase"></span>
</button>
<button class="undo" title="Undo">
  <span class="glyphicons glyphicons-undo"></span>
</button>
<button class="clear" title="Clear">
  <span class="glyphicons glyphicons-remove-sign"></span>
</button>
<div class="colorContainer">
  <label>Color</label>
  <input type="color" class="brushColor" />
</div>
<div class="sizeContainer">
  <label>Size</label>
  <input type="range" class="brushSize" min="4" max="50" />
</div>
