<div class="gameName"><%- roomName %></div>
<div class="opponentName"><%= opponent %></div>
<div class="connectFourBoard">
	<div class="square">
		<div class="row">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="row">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="row">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="row">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="row">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="row">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
	</div>
</div>
<div class="controls">
	<div class="gameInfo">
		<div>
			<span>Game:</span>
			<span>Connect Four</span>
		</div>
		<div>
			<span>Game Room ID:</span>
			<span><%- id %></span>
		</div>
		<div>
			<span>Status:</span>
			<span><%- status %></span>
		</div>
		<div>
			<span>Host:</span>
			<span><%- host %></span>
		</div>
	</div>
	<div class="userControls">
		<%= controls %>
	</div>
	<% if(isHost){ %>
	<div class="hostControls">
	<%= hostControls %>
	</div>
	<% } %>
</div>