<div class="playtable <%- playerNum %>">
	<div class="player playerSeat">
		<span class="playerName"></span>
	</div>
	<div class="player playerTwoSeat">
		<span class="playerName"></span>
	</div>
	<div class="player playerThreeSeat">
		<span class="playerName"></span>
	</div>
	<div class="player playerFourSeat">
		<span class="playerName"></span>
	</div>
	<div class="player playerFiveSeat">
		<span class="playerName"></span>
	</div>
</div>
<div class="heldCards"></div>
<div class="controls">
	<%= controls %>
</div>
