.chatView{
	height: 100%;
	background-color: $passive-color;
	z-index: 1;
	border-left: 1px solid $inset-color;
	.chatViewContainer{
		width:100%;
		height:100%;
		position: relative;

		.chatMain{
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			flex-direction: column;
			height: 100%;
			width: auto;
		}

		.chatMain.closed{
			position: relative;
			width: 0;
			overflow: hidden;
			border: none;
		}

		.chatMain.open{
			min-width: 200px;
			max-width: 400px;
			width: 25vw;
		}

		.chatHeader{
			height: 50px;
			min-height: 50px;
			width: 100%;
			box-shadow: inset 0 -1px 0 0 $inset-color;
			font-family: "Helvetica";
			font-size: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.collapseChat{
			position: absolute;
			left: -35px;
			top: 3px;
			height: 30px;
			line-height: 38px;
			width: 30px;
			background-color: $bg-color;
			border: 1px solid $primary-color;
			color: $primary-color;
			cursor: pointer;
			opacity: 0.8;
		}

		.collapseChat:hover{
			background-color: $primary-color;
			color: $bg-color;
		}

		.messageList{
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
		}

		.inputMessage{
			align-self: flex-end;
			width: 100%;
			textarea{
				resize: none;
				font-size: 14px;
				width: 90%;
				padding: 10px;
				font-family: "Helvetica";
				color: black;
				outline: none;
			}
		}

		::-webkit-scrollbar{
			width: 6px;
		}

		::-webkit-scrollbar-track {
		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		    -webkit-border-radius: 10px;
		    border-radius: 10px;
		}

		::-webkit-scrollbar-thumb {
		    -webkit-border-radius: 20px;
		    border-radius: 20px;
		    background: rgba(0,0,0,0.5);
		}

		ul{
			list-style-type: none;
			margin: 0;
			padding: 10px;
		}

		li{
			text-align: left;
			word-wrap: break-word;
			width: 100%;
			margin-top: 5px;
			font-family: "Helvetica";

			.chatTime{
				color: gray;
				font-size: 12px;
			}
			.chatName{
				font-size: 15px;
				font-weight: bold;
			}
			.chatName::after{
				content: ":";
			}
			.chatMessage{
				font-size: 14px;
				word-wrap: break-word;
			}
		}

		li.chatItemServer{
			text-align: center;
			font-size: 14px;
			color: gray;
			font-style: italic;
		}

		li.chatItemServer.error{
			color: red;
		}

		li.chatItemServer.error::before{
			content: "Error: ";
		}

		li.chatItemServer.success{
			color: #008000;
			font-size: 20px;
			font-weight: bold;
			font-style: normal;
		}
	}
}
