.console{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.65);
	display: none;
	color: #00FF00;
	text-align: left;
	padding: 10px;
	font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", "Courier", "monospace";
	font-size: 18px;

	label{
		width: 80px;
		height: 30px;
	}	

	.consoleInput{
		border: none;
		background: transparent;
		width: calc(100% - 150px);
		outline: none;
	}

	.consoleOutput{
		width: 100%;
		height: calc(100% - 30px);
		resize: none;
		background: transparent;
		border: none;
		outline: none;
	}

	::-webkit-scrollbar{
		width: 6px;
	}

	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	}

	::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 20px;
	    border-radius: 20px;
	    background: rgba(0,0,0,0.5); 
	}
}