.modal-header{
	background-color: $bg-color;
}
.modalTitle{
	font-size: 40px;
}

.createRoomView {
	.modal-header{
		.close{
			opacity: 1;
			color: $primary-color;
		}
	}
	.modal-content{
		border: 2px solid $primary-color;
		border-radius: 0;
	}
}

.modal-body.createGameBody{
	padding: 0;
	display: flex;

	.gameSelection{
		min-width: 120px;
		min-height: 400px;
		background-color: $primary-color;
		background: linear-gradient($primary-color, $gradient-color);

		.gameSelectionList{
			padding: 0;
			list-style-type: none;
			.gameSelectionItem{
				cursor: pointer;
				img{
					width: 100px;
					padding: 10px;
				}
			}

			.gameSelectionItem:not(.selected):hover{
				background-color: $passive-color;
			}

			.gameSelectionItem.selected{
				background-color: $bg-color;
			}

			.gameSelectionItem.selected:hover{
				cursor: default;
			}
		}
	}

	.gameOptions{
		flex-grow: 1;
		background-color: $bg-color;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 35px;
		background: repeating-linear-gradient(135deg, transparent, transparent 15px, $bg-color 10px, $bg-color 30px), linear-gradient(to right, transparent, $passive-color);
		background: $create-room-bg-url;
		background-repeat: no-repeat;
		background-size: cover;

		.gameOptionsView{
			padding: 10px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			font-size: 20px;
			width: 100%;
		}

		.gameNumPlayers{
			text-align: center;
			font-size: 14px;
			position: absolute;
			right: 0;
			top: 0;
			padding: 3px 8px 3px 8px;
			background-color: $primary-color;
			color: $bg-color;
			margin: 5px;
			border-radius: 10px;
		}

		.gameSelectedName{
			font-size: 40px;
		}

		.roomName{
			width: 50%;
			margin: 5px;
			margin-left: auto;
			margin-right: auto;
		}

		.expansionImploding{
			margin: 10px;
			padding-top: 10px;
		}

		.roomPassword{
			width: 50%;
			margin: 5px;
			margin-left: auto;
			margin-right: auto;
		}

		.alertInfo{
			width: 70%;
			border-radius: 5px;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;

			ul{
				list-style-type: none;
				padding: 0;
			}
		}

		.alertInfo:empty{
			margin: 0;
			padding: 0;
		}
	}
}

