@import "variables";

/*these don't work if placed inside their context*/

.modalTitle{
	font-size: 40px;
}

.modal-body.gameSelect{
	padding: 0;
}

.gameSelect{
	padding-left: 0;
	padding-right: 0;

	ul.gameSelection{ 
		list-style-type: none;
		margin: 0;
		padding: 0;
		background: repeating-linear-gradient( 90deg, $passive-color, $passive-color 50px, $bg-color 50px, $bg-color 100px );

		li.gameItem{
			min-height: 150px;
			border-top: 2px solid $primary-color;
		}

		li.gameItem:not(.selected):hover{
			background: none;
			cursor: pointer;
			background-color: $primary-color;
			color: $bg-color;

			.gameInfoPlayers{
				color: $primary-color;
				background-color: $bg-color;
			}
		}
	}
}


.gameImageContainer{
	float: left;
	width: 150px;
	height: 100%;

	img{
		width:130px;
		height:130px;
		margin: 10px;
		padding: 0;
	}
}

.gameInfoContainer{
	width: auto;
	padding: 5px;
	position: relative;

	.gameInfoName{
		font-size: 30px;
		text-align:center;
		padding: 5px;
	}

	.gameInfoDescription{
		font-size: 20px;
		text-align: justify;
		padding: 1px;
	}

	.gameInfoPlayers{
		text-align: center;
		font-size: 14px;
		position: absolute;
		right: 0;
		top: 0;
		padding: 3px 8px 3px 8px;
		background-color: $primary-color;
		color: $bg-color;
		margin: 5px;
		border-radius: 10px;
	}
}

.gameOptionsContainer{
	margin-top: 50px;
	padding-bottom: 15px;
	
	.roomName{
		width: 50%;
		margin: 5px;
		margin-left: auto;
		margin-right: auto;
	}

	.roomPassword{
		width: 50%;
		margin: 5px;
		margin-left: auto;
		margin-right: auto;
	}

	.alertInfo{
		width: 70%;
		border-radius: 5px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;

		ul{
			list-style-type: none;
			padding: 0;
		}
	}

	.alertInfo:empty{
		margin: 0;
		padding: 0;
	}
}
