@import "variables";

.gameRooms{
	width: 100%;
	height: 80%;
	background: repeating-linear-gradient( 135deg, $bg-color, $bg-color 50px, $passive-color 50px, $passive-color 100px );
	border-bottom: 2px solid $primary-color;
	border-radius: 0px 0px 30px 30px;
	min-height: 450px;
	overflow: auto;
	opacity: 0.85;

	.gameRoomsTable{
		width:100%;
		margin-left: auto;
		margin-right: auto;
		border-top: 2px solid $primary-color;
		border-collapse: separate;

		thead tr{
			height: 45px;
		}

		thead th{
			color: $primary-color;
			background-color: $bg-color;
			text-align: center;
			border-bottom: 2px solid $primary-color;
		}

		.roomList{
			tr{
				height: 40px;
				padding: 5px;
				background-color: rgba(255,255,255,0.5);
				font-size: 20px;
				line-height: 40px;
				td{
					border-bottom: 1px solid $primary-color;

					button{
						border: 3px solid $primary-color;
						background-color: $bg-color;
						border-radius: 20px;
						margin: 5px;
						font-size: 15px;
						line-height: 25px;
						color: $primary-color;
					}

					button:hover{
						border: 3px solid $bg-color;
						background-color: $primary-color;
						color: $bg-color;
					}
				}
			}

			tr:hover{
				background-color: $primary-color;
				color: $bg-color;
			}
		}
	}
}
