@import "variables";

.gameRooms{
	width: 100%;
	height: 80%;
	.gameRoomsTable{
		height: 100%;
		width:100%;
		margin-left: auto;
		margin-right: auto;
		background: repeating-linear-gradient( 135deg, $bg-color, $bg-color 50px, $passive-color 50px, $passive-color 100px );
		border-bottom: 2px solid $primary-color;
		border-top: 2px solid $primary-color;
		border-collapse: separate;

		thead tr{
			height: 45px;
		}

		thead th{
			color: $primary-color;
			background-color: $bg-color;
			text-align: center;
			border-bottom: 2px solid $primary-color;
		}

		.roomList{

		}
	}
}
