@import "variables";

.namePicker{
	font-size: 70px;
	
	.nameInput{
		border: 0px solid $fourth-color;
		border-bottom-width: 2px;
		color: $fourth-color;
		font-family: inherit;
		font-size: 45px;
		background: transparent;
		text-align: center;
		text-decoration: none;
		outline: none;
	}

	.alert{
		font-size: 20px;
		margin: 0;
		opacity: 0;
		-webkit-transition: 1s;
		transition: 1s;
	}
}