.root{
	width:100%;
	height:100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-size: 20px;
	text-align: center;
	color: $primary-color;
	background-color: $primary-color; /*this is reset in code for transition*/
	background: linear-gradient($primary-color, $gradient-color);
	overflow: auto;

	.logo, .content{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo{
		-webkit-transition: $transition-fast;
		transition: $transition-fast;
	    width: 200%;
		height: 200%;
		position: absolute;
		font-size: 70px;
		background-color: $bg-color;
		border-radius: 0 0 100% 100%;
		top: -170%;
		left: -50%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		span{
			height: 15%;
			width: 100%;
			display: flex;
			align-items: center;
			color: $primary-color;
			flex-direction: column;
			.logoContainer{
				transition: $transition-fast;
				height: 90%;
				width: 100%;
				margin: 20px;
				background:url("/static/images/logo.png");
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}

	.logo.expanded{
		top: -60%;
		font-size: 1px;
		width: 130%;
		left: -15%;
		.logoContainer{
			width: 0;
			height: 0;
		}
	}

	.content{
		height: 100%;
		color: $primary-color;
		transition: $transition-speed;

		.loading{
			transition: $transition-speed;
			background:url("/static/images/ripple.svg") no-repeat center center;
			background-size: contain;
			color: $bg-color;
			font-size: 35px;
			margin-top: 10%;
			width: 50%;
			height: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.root.noInvert{
	background-color: $bg-color;
	background: $bg-color;
}


@import "namepicker";
@import "disconnect";
@import "console";
