@import "variables";

.sideBar{
	background-color: $menu-color;
	background: linear-gradient($menu-color, $gradient-color);
	color: $bg-color;
	height: 100%;
	position: relative;
	z-index: 3;
	box-shadow: 1px 1px 3px $inset-color;

	.collapseSideBar{
		position: absolute;
		right: -35px;
		top: 3px;
		height: 30px;
		line-height: 38px;
		width: 30px;
		background-color: $bg-color;
		border: 1px solid $primary-color;
		color: $primary-color;
		cursor: pointer;
		padding-right: 3px;
		padding-left: 3px;
		opacity: 0.8;
	}

	.collapseSideBar:hover{
		background-color: $primary-color;
		color: $bg-color;
	}

	.sideBarItems{
 		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		flex-direction: column;
		height: 100%;
		width: auto;

		.sideBarItem{
			padding-top: 10px;
			label{
				vertical-align: middle;
			}

			input[type=color]{
				background-color:transparent;
				border: none;
				cursor: pointer;
				width: 40px;
				height: 40px;
			}
		}

		.sideBarItem:first-child{
			color: $primary-color;
			background-color: $bg-color;
			font-size: 25px;
		}

		.sideBarItem:last-child{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			font-size: 16px;
			color: $primary-color;
			display: flex;
			flex-direction: column;	
			img{
				height: 100%;
			}
			span:first-child{
				height: 50px;
			}
			label:last-child{
				background-color: $bg-color;
				margin: 0;
			}
		}
	}

	.sideBarItems.closed{
		position: relative;
		width: 50px;
		min-width: 50px;
		overflow: hidden;
		.sideBarItem{
			label{
				display: none;
			}
		}
	}

	.sideBarItems.open{
		width: 200px;
		min-width: 200px;
	}
}
