@import "variables";

.sideBar{
	background-color: $primary-color;
	color: $bg-color;
	height: 100%;
	position: relative;

	.collapseSideBar{
		position: absolute;
		right: -25px;
		top: 0;
		height: 30px;
		line-height: 38px;
		width: 25px;
		background-color: $primary-color;
		color: $passive-color;
		border-radius: 0px 5px 5px 0px;
		cursor: pointer;
	}

	.collapseSideBar:hover{
		background-color: $fourth-color;
	}

	.sideBarItems{
 		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		flex-direction: column;
		height: 100%;
		width: auto;

		.sideBarItem{
			padding-top: 10px;
		}

		.last{
			order: 999;
			position: absolute;
			bottom: 0;
			width: 100%;
			font-size: 16px;
			background-color: $tertiary-color;
			color: $primary-color;
		}
	}

	.sideBarItems.closed{
		position: relative;
		width: 0;
		overflow: hidden;
	}

	.sideBarItems.open{
		width: 200px;
		min-width: 200px;
	}
}
