@import "variables";

.sideBar{
	background-color: $menu-color;
	background: linear-gradient($menu-color, $gradient-color);
	color: $bg-color;
	height: 100%;
	position: relative;

	.collapseSideBar{
		position: absolute;
		right: -25px;
		top: 0;
		height: 30px;
		line-height: 38px;
		width: 25px;
		background-color: $menu-color;
		color: $passive-color;
		border-radius: 0px 5px 5px 0px;
		cursor: pointer;
		padding-right: 2px;
	}

	.collapseSideBar:hover{
		background-color: $fourth-color;
	}

	.sideBarItems{
 		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		flex-direction: column;
		height: 100%;
		width: auto;

		.sideBarItem{
			padding-top: 10px;
		}

		.sideBarItem:first-child{
			color: $primary-color;
			background-color: $passive-color;
			font-size: 25px;
			border-radius: 0px 0px 30px 30px;
		}

		.sideBarItem:last-child{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			font-size: 16px;
			color: $primary-color;
			background-color: $passive-color;
			border-radius: 40px 40px 0px 0px;
		}
	}

	.sideBarItems.closed{
		position: relative;
		width: 0;
		overflow: hidden;
	}

	.sideBarItems.open{
		width: 200px;
		min-width: 200px;
	}
}
