/*
primary-color: text color
secondary-color: differing shade of primary (gradient in welcome)
tertiary-color: contrasts well against primary
bg-color: background color
passive-color: background for chat; close to bg-color
inset-color: border color for chat, etc
menu-color: the color of the settings menu
*/

$primary-color: #003366;
$gradient-color: #0B3F5C;
$secondary-color: #bce8f1;
$tertiary-color: #FFCC66;
$fourth-color: #bb171a;
$bg-color: #ffffff;
$passive-color: #efeef1;
$passive-color-transparent: rgba(239, 238, 241, 0.8);
$inset-color: #dad8de;
$menu-color: #003366;
$bg-url: url(../../static/images/bgclouds.png);
$create-room-bg-url: url(../../static/images/create-room-bg.png);
$transition-very-fast: 0.2s;
$transition-fast: 1s;
$transition-speed: 1.5s;
$transition-slow: 2s ease;

/*
$bg-color: #222222;
$primary-color: white;
$menu-color: #cccccc;
$secondary-color: #282828;
$passive-color: #282828;
$bg-url: url(../../static/images/bg-dark.jpg);
$create-room-bg-url: #222222;
*/