.welcome{
	width:100%;
	height:100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-size: 20px;
	text-align: center;
	color: #afafb7;

	.logo{
		font-size: 80px;
		color: #5cffd6;
		-webkit-text-stroke: 1px #afafb7;
	}

	.loading{
		background:url(../images/ripple.svg) no-repeat center center;
		line-height:200px;
		min-width: 200px;
		min-height: 200px;
	}
}
