<div class="collapseSideBar">
    <span class="glyphicon glyphicon-chevron-right"></span>
</div>
<div class="sideBarItems closed">
	<div class="sideBarItem">
		<span class="glyphicon glyphicon-cog"></span>
		<label>Settings</label>
	</div>
	<div class="sideBarItem">
		<label>Pick your color: </label>
		<input type="color" class="colorPicker" value="<%= color %>" />
	</div>
	<div class="sideBarItem">
		<label>Enable sound: </label>
		<span class="glyphicon glyphicon-volume-up volumeControl" data-toggle="popover"></span>
	</div>
	<div class="sideBarItem">
		<label>Theme:</label>
		<div class="selectTheme" data-toggle="popover"></div>
	</div>
	<div class="sideBarItem">
		<span>
			<a href="https://github.com/Rigaudon/jsgames2" target="_blank">
				<img src="../static/images/github.png">
			</a>
		</span>
		<label>by Michael Wu</label>
	</div>
</div>
